<ngx-spinner
bdOpacity = 0.9
bdColor = "#333"
size = "medium"
color = "#feef0a"
type = "pacman"
[fullScreen] = "true"
>
    <p style="color: white" > Carregando Labirinto... </p>
</ngx-spinner>
<canvas id="canvas"> </canvas>
<br>
<br>
<br>
<div *ngIf="bestPathFitness != undefined">
<form>
    <div class="form-group">
        <p>Gerações Executadas: {{generationsExecuted}} </p> 
        <p>Aptidão: {{bestPathFitness}} </p>
        <p>Atingiu o número máximo de gerações? {{reachedMaxGenerations}}</p>
    </div>
</form>
</div>
